name: shenron-cu${CU}

x-common-ulimits: &common-ulimits
  nofile:
    soft: ${ULIMIT_NOFILE_SOFT:-65535}
    hard: ${ULIMIT_NOFILE_HARD:-524288}

services:
  vllm:
    image: tytn/shenron:0.2.0-cu${CU}
    ulimits: *common-ulimits
    restart: unless-stopped
    command: ["bash","-lc","source /opt/shenron/.venv/bin/activate && exec bash /generated/vllm_start.sh"]
    volumes:
      - $HOME/.cache/huggingface:/root/.cache/huggingface
      - ./.generated:/generated:ro
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

  onwards:
    image: ghcr.io/doublewordai/onwards:latest
    depends_on:
    - vllm
    command: ["--targets", "/generated/onwards_config.json"]
    volumes:
    - ./.generated:/generated:ro
    ports:
    - "${ONWARDS_PORT:-3000}:3000"

  prometheus:
    image: tytn/shenron:0.2.0-prometheus
    depends_on:
      - vllm
    volumes:
      - ./.generated/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "${PROMETHEUS_PORT:-9090}:9090"

  scouter-reporter:
    image: ghcr.io/doublewordai/scouter:latest
    restart: unless-stopped
    depends_on:
      - prometheus
    env_file:
      - ./.generated/scouter_reporter.env
    # use host.docker.internal for scouter collector instance
    extra_hosts:
    - "host.docker.internal:host-gateway"
